body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
}

.ml-10 {
  margin-left: 10px;
}

.titre {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.box_btn {
  display: flex;
}